PORT=7777
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://sebrin:Sebrin720%40@homestay.d4wrno4.mongodb.net/devmesh?retryWrites=true&w=majority
JWT_SECRET=bjhshfjssjkbdhjsudhhdasjnjksdknjsjkdsjkd
